.videos-section {
  display: flex;
  width: 100%;
  margin: 50px auto 80px;
  text-align: left;
  color: #ffffff;
  background-color: #071832;
}

.videos-section h1 {
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
}

.videos-section hr {
  background: linear-gradient(90deg, #838be1 0%, rgba(202, 230, 245, 0) 100%);
  height: 5px;
  border: none;
  margin: 22px 0px 63px 0px;
  border-radius: 21px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 40px;
  row-gap: 9px;
  text-align: center;
}

.videos-wrapper {
  width: 100%;
}

.videos a img {
  width: 100%;
}

.videos p {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
}

.videos_pagination {
  margin-top: 50px;
  margin-bottom: 0px;
}

.videos_pagination,
.videos_pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.videos_pagination li {
  background: inherit;
  list-style: none;
}

.videos_pagination li a {
  text-decoration: none;
  width: 22px;
  height: 21px;
  font-size: 15px;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.videos_pagination li:first-child a {
  border-radius: 5px 0px 0px 5px;
}

.videos_pagination li:last-child a {
  border-radius: 0px 5px 5px 0px;
}

.videos_pagination li:nth-child(2) {
  background-color: #922fab;
}

@media only screen and (max-width: 1550px) {
  .videos {
    column-gap: 14px;
  }
}

@media only screen and (max-width: 1439px) {
  .videos {
    grid-template-columns: repeat(auto-fill, minmax(199px, 1fr));
  }
}

@media only screen and (max-width: 990px) {
  .videos {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}
