.encyclopedia-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto 80px;
  text-align: left;
  color: #ffffff;
  background-color: #071832;
}

.encyclopedia {
  width: 100%;
}

.encyclopedia h1 {
  font-style: italic;
  font-size: 42px;
  line-height: 48px;
  margin-left: 11px;
  text-transform: uppercase;
}

.encyclopedia hr {
  width: 100%;
  height: 5px;
  border: none;
  margin: 11px 0px 37px 0px;
  border-radius: 21px;
  background: linear-gradient(90deg, #838be1 0%, rgba(202, 230, 245, 0) 100%);
}

.encyclopedia-persons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 14px;
  row-gap: 9px;
  text-align: center;
}

.encyclopedia-person {
  width: 200px;
  height: 244px;
  background: linear-gradient(
    180deg,
    rgba(131, 139, 225, 0.192) 0%,
    rgba(131, 139, 225, 0) 100%
  );
  border-radius: 16px;
}

.encyclopedia-person img {
  width: 130px;
  height: 173px;
  margin-top: 14px;
}

.encyclopedia-person p {
  font-size: 15px;
  line-height: 17px;
  margin-top: 0px;
  color: #ffffff;
}

.encyclopedia-pagination {
  margin: 0px;
  margin-top: 50px;
}

.encyclopedia-pagination,
.encyclopedia-pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.encyclopedia-pagination li {
  background: inherit;
  list-style: none;
}

.encyclopedia-pagination li a {
  text-decoration: none;
  width: 22px;
  height: 21px;
  font-size: 15px;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.encyclopedia-pagination li:first-child a {
  border-radius: 5px 0px 0px 5px;
}

.encyclopedia-pagination li:last-child a {
  border-radius: 0px 5px 5px 0px;
}

.encyclopedia-pagination li:nth-child(2) {
  background-color: #922fab;
}

@media only screen and (max-width: 1439px) {
  .encyclopedia h1 {
    font-size: 35px;
    line-height: 40px;
    margin-left: 9.17px;
  }
  .encyclopedia hr {
    height: 4.17px;
    margin: 9.17px 0px 30.83px 0px;
    margin-left: 9.17px;
  }
  .encyclopedia-persons {
    grid-template-columns: repeat(auto-fill, minmax(166.67px, 1fr));
    column-gap: 11.67px;
    row-gap: 7.5px;
  }
  .encyclopedia-person {
    width: 166.67px;
    height: 203.33px;
  }
  .encyclopedia-person img {
    width: 108.33px;
    height: 144.17px;
    margin-top: 11.67px;
  }
  .encyclopedia-person p {
    font-size: 12.5px;
    line-height: 14.17px;
  }
}
@media only screen and (max-width: 1199px) {
  .encyclopedia h1 {
    font-size: 28.9px;
    line-height: 33.03px;
    margin-left: 7.57px;
  }
  .encyclopedia hr {
    height: 3.44px;
    margin: 7.57px 0px 25.46px 0px;
    margin-left: 7.57px;
  }
  .encyclopedia-persons {
    grid-template-columns: repeat(auto-fill, minmax(137.64px, 1fr));
    column-gap: 9.63px;
    row-gap: 6.19px;
  }
  .encyclopedia-person {
    width: 137.64px;
    height: 167.92px;
  }
  .encyclopedia-person img {
    width: 89.47px;
    height: 119.06px;
    margin-top: 9.63px;
  }
  .encyclopedia-person p {
    font-size: 10.32px;
    line-height: 11.7px;
  }
}
@media only screen and (max-width: 990px) {
  .encyclopedia h1 {
    font-size: 22.4px;
    line-height: 25.6px;
    margin-left: 5.87px;
  }
  .encyclopedia hr {
    height: 2.67px;
    margin: 5.87px 0px 19.73px 0px;
    margin-left: 5.87px;
  }
  .encyclopedia-persons {
    grid-template-columns: repeat(auto-fill, minmax(106.67px, 1fr));
    column-gap: 7.47px;
    row-gap: 4.8px;
  }
  .encyclopedia-person {
    width: 106.67px;
    height: 130.13px;
  }
  .encyclopedia-person img {
    width: 69.33px;
    height: 92.27px;
    margin-top: 7.47px;
  }
  .encyclopedia-person p {
    font-size: 8px;
    line-height: 9.07px;
  }
}
@media only screen and (max-width: 767px) {
  .encyclopedia h1 {
    font-size: 17.5px;
    line-height: 20px;
    margin-left: 4.58px;
  }
  .encyclopedia hr {
    height: 2.08px;
    margin: 4.58px 0px 15.42px 0px;
    margin-left: 4.58px;
  }
  .encyclopedia-persons {
    grid-template-columns: repeat(auto-fill, minmax(83.33px, 1fr));
    column-gap: 5.83px;
    row-gap: 3.75px;
  }
  .encyclopedia-person {
    width: 83.33px;
    height: 101.67px;
  }
  .encyclopedia-person img {
    width: 54.17px;
    height: 72.08px;
    margin-top: 5.83px;
  }
  .encyclopedia-person p {
    font-size: 6.25px;
    line-height: 7.08px;
  }
}
